@font-face {
    font-family: 'Science Gothic Title';
    src: url('./assets/fonts/science_gothic.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;